---
import { Image } from 'astro:assets'
import { getImage } from 'astro:assets'
import type { AuthorInfo } from '#lib/constants'

interface Props extends AuthorInfo {}
const { avatar, name, headline, username, location } = Astro.props

const image = await getImage({ src: avatar, format: 'avif' })
---

<div>
  <div class="bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <Image
        loading="eager"
        src={image.src}
        alt={name}
        width={350}
        height={350}
        class="mask mask-decagon dark:bg-primary bg-neutral"
      />
      <div>
        <h1 class="text-5xl font-bold">{name}</h1>
        <p class="py-6">
          {headline} in {' '}
          <span>
            {location}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
